 # While 迴圈

1+2+3+....+10的總和

In [2]:
sum=0
count=1
while count <=10:
    sum=sum+count #sum += count
    count+=1
print('1+2+3+...+10=',sum)

1+2+3+...+10= 55

# 銀行利息規範

In [1]:
x = 10000
year = 0
while x < 20000:
    year +=1
    x=x * 1.0104
print(str(year),'年後，存款金額加倍')

67 年後，存款金額加倍

# 帳號密碼程式

In [3]:
id='tony'
pwd='1234'
while True:
    x=input('請輸入帳號:')
    y=input('請輸入密碼:')
    if(x==id and y==pwd):
        print('歡迎登入')
        break
    else:
        print('帳號/密碼輸入錯誤')

請輸入帳號:tony
請輸入密碼:1234
歡迎登入

 # break, continue,pass範例

In [4]:
mylist=['C#','Python','java','C++']
for i in mylist:
    if i == 'java':
        break
    else:
        print(i)

C#
Python

In [5]:
import random
for i in range(0,10):
    print(random.random())

0.3354134420606306
0.519869768978624
0.6125507736973634
0.23636315339407743
0.5046596024604154
0.003715941716463056
0.8717217725066154
0.0014182209962727566
0.17778907189864102
0.36039135880846895

In [6]:
for i in range(0,10):
    print(random.randint(1,9))

2
3
3
6
9
2
7
4
1
3

In [7]:
import random
number=random.randint(1,99)
while True:
    guess=input('請輸入1-99的數字(q離開):')
    if guess =='q':
        print('離開遊戲,正確數字是',number)
        break
    else:
        if number==int(guess):
            print('恭喜,猜對了')
            break
        else:
            print('猜錯了')

請輸入1-99的數字(q離開):98
猜錯了
請輸入1-99的數字(q離開):2
猜錯了
請輸入1-99的數字(q離開):30
猜錯了
請輸入1-99的數字(q離開):87
猜錯了
請輸入1-99的數字(q離開):q
離開遊戲,正確數字是 81

# numpy套件

In [8]:
a_list=[1,2,3,4,5]
print(a_list*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [9]:
# numpy套件ndarray型態，提供eLement-wise的操作
import numpy as np
a_ndarray=np.array([1,2,3,4,5])
print (a_ndarray*3)

[ 3  6  9 12 15]

In [3]:
import numpy as np
a_ndarray=np.array([1,2,3,4,5])
print(a_ndarray*3)
print(type(a_ndarray))
print(a_ndarray.ndim) #ndarray的維度
print(a_ndarray.shape) #ndarray的shape
print(a_ndarray.dtype) #ndarray的資料型態

[ 3  6  9 12 15]
<class 'numpy.ndarray'>
1
(5,)
int32

In [4]:
z=np.zeros(6)
print(z)# 六個元素都為0的1d ndarray
print(np.zeros((2,6))) #12個援助都為0的2d ndarray
print(np.empty((2,6,2))) #24個元素都未初始化的值 長,寬,RGB
print(np.arange(10)) #10個元素都維0-9的1d ndarray

[0. 0. 0. 0. 0. 0.]
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
[[[3.56043053e-307 1.60219306e-306]
  [7.56571288e-307 1.89146896e-307]
  [1.37961302e-306 1.05699242e-307]
  [8.01097889e-307 1.78020169e-306]
  [7.56601165e-307 1.02359984e-306]
  [1.33510679e-306 2.22522597e-306]]

 [[1.33511018e-306 6.23057689e-307]
  [7.56602524e-307 8.45559303e-307]
  [8.06612616e-308 6.89810244e-307]
  [1.22387550e-307 2.22522596e-306]
  [8.34423917e-308 1.11261162e-306]
  [1.78021527e-306 8.34426039e-308]]]
[0 1 2 3 4 5 6 7 8 9]

In [5]:
my_array=np.arange(10)
print(my_array)
print(my_array[0])
print(my_array[0:5])

[0 1 2 3 4 5 6 7 8 9]
0
[0 1 2 3 4]

In [7]:
 # 2維ndarray取值
my_2d_array = np.array([np.arange(0,5),np.arange(5,10)])
print(my_2d_array)
print(my_2d_array[1,:]) #第二列資料
print(my_2d_array[:,1]) #第二欄資料
print(my_2d_array[1,1]) #第二列第二欄資料

[[0 1 2 3 4]
 [5 6 7 8 9]]
[5 6 7 8 9]
[1 6]
6

In [8]:
#假設有六個組別"Modern Web", "DevOps","CLoud","Big Data","Security","自我挑戰組"
#其參加人數分別為56,8,19,14,6,71人
groups=["Modern Web", "DevOps","Cloud","Big Data","Security","自我挑戰組"]
ironman=[56,8,19,14,6,71]
groups_array=np.array(groups)
ironman_array=np.array(ironman)
print(groups_array)
print(ironman_array)

['Modern Web' 'DevOps' 'Cloud' 'Big Data' 'Security' '自我挑戰組']
[56  8 19 14  6 71]

In [9]:
# 用人數去篩選組別
print(ironman_array >=10)
print(groups_array[ironman_array >=10])
print(groups_array != "自我挑戰組")
print(ironman_array[groups_array != "自我挑戰組"])

[ True False  True  True False  True]
['Modern Web' 'Cloud' 'Big Data' '自我挑戰組']
[ True  True  True  True  True False]
[56  8 19 14  6]

# Ndarray轉置

In [10]:
my_1d_array=np.arange(10)
print(my_1d_array)
my_2d_array=my_1d_array.reshape((2,5))
print(my_2d_array)
print(my_2d_array.T)

[0 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 6 7 8 9]]
[[0 5]
 [1 6]
 [2 7]
 [3 8]
 [4 9]]

In [11]:
print(np.arange(24).reshape(4,6))

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

In [12]:
# ndarray nan(空值)
nan_array=np.array([56,8,19,14,6,np.nan])
print(nan_array)

[56.  8. 19. 14.  6. nan]

 # 第六章 Pandas Data Frame

In [13]:
import pandas as pd
import numpy as np
groups = ["Modern Web","DevOps",np.nan,"Cloud","Big Data", "Security","自我挑戰組"]
ironmen = [59,9,19,14,6,77,np.nan]
ironmen_dict={
    "groups":groups,
    "ironmen":ironmen
}
ironmen_df = pd.DataFrame(ironmen_dict)

print(ironmen_df.loc[:,"groups"].isnull())
print(ironmen_df.loc[:,"ironmen"].notnull())

ironmen_df

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: ironmen, dtype: bool

       groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3       Cloud     14.0
4    Big Data      6.0
5    Security     77.0
6       自我挑戰組      NaN

In [15]:
print(ironmen_df.ndim)
print(ironmen_df.shape)
print(ironmen_df.dtypes)

2
(7, 2)
groups      object
ironmen    float64
dtype: object

In [16]:
print(ironmen_df.sum())
print(ironmen_df.ironmen.sum())
print(ironmen_df.mean())
print(ironmen_df.median)
print(ironmen_df.describe())

ironmen    184.0
dtype: float64
184.0
ironmen    30.666667
dtype: float64
<bound method DataFrame.median of        groups  ironmen
0  Modern Web     59.0
1      DevOps      9.0
2         NaN     19.0
3       Cloud     14.0
4    Big Data      6.0
5    Security     77.0
6       自我挑戰組      NaN>
         ironmen
count   6.000000
mean   30.666667
std    29.803803
min     6.000000
25%    10.250000
50%    16.500000
75%    49.000000
max    77.000000

In [18]:
import pandas as pd
groups = ["Modern Web","DevOps","Cloud","Big Data", "Security","自我挑戰組"]
ironmen = [59,9,19,14,6,77]
# 建立data frame
ironmen_df = pd.DataFrame(ironmen,columns=["ironmen"],index=groups)
ironmen_df.sort_index()

            ironmen
Big Data         14
Cloud            19
DevOps            9
Modern Web       59
Security          6
自我挑戰組            77

# 雲端載入

In [14]:
import pandas as pd
url="https://storage.googleapis.com/2017_ithome_ironman/data/iris.csv"
iris_df = pd.read_csv(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
iris_df.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [20]:
iris_df ['Sepal.Length'].median()

5.8

# 本地端載入

In [23]:
import pandas as pd

iris_df=pd.read_csv('iris.csv')
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# excel檔案載入

In [27]:
import pandas as pd
url="https://storage.googleapis.com/2017_ithome_ironman/data/iris.xlsx"
iris_df=pd.read_excel(url)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Chap 8自訂函數

In [28]:
import math

def circle (radius):
    area = radius * radius * math.pi
    return area

print (circle(10))

314.1592653589793

In [29]:
import math

def circle (radius):
    area = radius * radius * math.pi
    return area

r = input ("請輸入員的半徑:")
print("園面積為:",circle(float(r)))

請輸入員的半徑:12.3
園面積為: 475.2915525615999

In [30]:
import random

def exchange_sort(input_list):
    a=input_list
    for i in range(0,len(input_list)-1):
        for j in range(i+1,len(input_list)):
            if a[i]>a [j]:
                a [i],a [j]=a [j],a [i]
    return a

my_vector = random.sample(range(0,100),10)
print(my_vector)
print(exchange_sort(my_vector))

[12, 5, 43, 70, 37, 18, 17, 23, 21, 45]
[5, 12, 17, 18, 21, 23, 37, 43, 45, 70]

# Python的lambda函數

In [3]:
def circle (radius):
    return radius * radius * 3.14
print(circle(10))

314.0

In [2]:
def max(m,n):
    return m if m > n else n
print(max(10,3))

10

In [1]:
# Lambda寫法
max = lambda m,n: m if m>n else n 
print(max(10,3))

10

In [4]:
#list *5
a = [1,2,3,4,5]
print(a*5)
#numbpy *5
import numpy as np
b = np.array(a)
print(b*5)
#lamda寫法
c=list(map(lambda x: x*5, a)) #map(function,data)
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[ 5 10 15 20 25]
[5, 10, 15, 20, 25]

# 錯誤處理 try:except

In [11]:
def circle(radius):
    try:
        return radius * radius * 3.14
    except:
        return "請輸入數值"
    
print(circle(10))
print(circle('十'))

314.0
請輸入數值